<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"> <%= link_to event.title, event %> </h5>     <!-- # 2nd 'event' is the model. rails transforms into event_path (path helper) -->
    <p class="card-text"><%= event.description%> </p>
  </div>
  <div class="card-footer d-flex">
    <div class="p-1 flex-grow-1"></div>
    <div class="p-0">
        <% if current_user == event.creator %>
          <%= link_to edit_event_path(event), class: "card-link" do %><%= image_tag "pencil-outline.svg", title: "Edit event", height: 20 %><% end %>
          <%= button_to event_path(event), method: :delete, class: "card-link btn btn-link ", form_class: "d-inline" do %><%= image_tag "trash-can-outline.svg", title: "Delete event", height: 20 %><% end %>
        <%end%>
    </div>
  </div>
</div>

