<div class="card mb-3">
  <div class="card-header d-flex">
    <div class="p-1 flex-grow-1"></div>
    <div class="p-0">
        <% if current_user == @event.creator %>
          <%= link_to edit_event_path(@event), class: "card-link" do %><%= image_tag "pencil-outline.svg", title: "Edit event", height: 20 %><% end %>
          <%= button_to event_path(@event), method: :delete, class: "card-link btn btn-link ", form_class: "d-inline" do %><%= image_tag "trash-can-outline.svg", title: "Delete event", height: 20 %><% end %>
        <%end%>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= l @event.event_date, format: :long %> </p> 
    <p class="card-text"><%= @event.location%> </p>
    <p class="card-text"><%= @event.description%> </p>
    <div>
      Want to attend? 
      <% if current_user %>
        <% #if Attendance.where(attendee: current_user, attended_event: @event).exists? %>
        <% # if current_user.attendances.where(attended_event: @event).exists? %>
        <% if (attendance = @event.attendances.find_by(attendee: current_user)) %> <!-- (one = because special case. attendance was not defined ) -->
          Thank you for joining!
          Don't want to attend anymore? 
          <%= button_to "Remove attendance", event_attendance_path(@event, attendance), method: :delete, class: "btn btn-danger", form_class: "d-inline" %>
        <% else %>
          <%= button_to "Click here!", event_attendances_path(@event), class: "btn btn-primary", form_class: "d-inline" %>        
        <% end %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <h6 class="mt-5">Currently attending:</h6>
    <div>
      <ul>
        <% @event.attendees.each do |attendee| %>
          <li><%= attendee.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

