<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= l @event.event_date, format: :long %> </p> 
    <p class="card-text"><%= @event.location%> </p>
    <p class="card-text"><%= @event.description%> </p>
    <div>
      Want to attend? 
      <% if current_user %>
        <% #if Attendance.where(attendee: current_user, attended_event: @event).exists? %>
        <% # if current_user.attendances.where(attended_event: @event).exists? %>
        <% if @event.attendances.where(attendee: current_user).exists? %>
          Thank you for joining!
        <% else %>
          <%= button_to "Click here!", event_attendances_path(@event), class: "btn btn-primary", form_class: "d-inline" %>        
        <% end %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <h6 class="mt-5">Currently attending:</h6>
    <div>
      <ul>
        <% @event.attendees.each do |attendee| %>
          <li><%= attendee.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

