<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light mb-3">
      <div class="container-fluid">
        <%= link_to "membersonly", root_path, class: "navbar-brand me-auto text-warning" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end gap-3" id="navbarSupportedContent">
          <% if current_user %> 
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning text-light" %>
          <% else %>
            <% if controller_name != "sessions" %>
              <%= link_to "Sign in", new_user_session_path, class: "btn btn-warning text-light" %>
            <% end %>
            <% if controller_name != "registrations" %>
              <%= link_to "Sign up",  new_user_registration_path, class: "btn btn-warning text-light" %>
            <% end %>
          <% end%>
        </div>
      </div>
    </nav>

    <div class="container">  
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
